<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Order Completed Sucessfully</h2>
        <p>Check all your orders in the orders section of your profile.</p>
        <hr />
        <p>Thank you</p>
    </div>
</div>